[submodule "themes/dimension"]
	path = themes/dimension
	url = https://github.com/sethmacleod/dimension.git
[submodule "themes/freelancer"]
	path = themes/freelancer
	url = https://github.com/digitalcraftsman/hugo-freelancer-theme.git
